.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel]{
  height : 56px;
  width: 274px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;

}